/*
 *	Fonts
 */
@font-face {
    font-family: arcade;
    src: url(/fonts/ARCADECLASSIC.TTF);
}


/* 
 *	Nav. Bar Css
 */
#search{
	margin-top: 10px;
}
#login_navbar{
	font-size: 1.5em;
}
#create_navbar{
	font-size: 1.5em;
}


/*
 *	Universal Classes
 */
.radius{
	border-radius: 15px;
}
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.stylenone{
	list-style-type: none;
}
.hidden{
  display: none;
}
#main{
	overflow:hidden;
}


/*
 *	Universal tags
 */
body{
    background-image: url("../img/dark_embroidery.png");
	color:#ddd;
}
h1{
	color: #ccc;
	font-size: 5em;
	word-spacing: 10px;
	margin: 10px 0px 30px 0px;
	text-align: center;
}
section{
	width: 110%;
	margin-left: -5%;
	padding: 20px 7%;
}




/*
 *	Universal Anchor Tags
 */
a{
	color:#ccc;
	text-decoration: none;
}
a:link {
    color: #ccc;
}

a:visited {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background: transparent;
    text-decoration: none;
}

a:active {
    color: #fff;
}



